img, embed, object, video {
	max-width: 100%;
}

/* Font downloaded from dafont.com */
@font-face {
    font-family: "BeautyDemo";
    src: url("../fonts/BeautyDemo.ttf") format("truetype");
    }

/* For Desktop */
@media screen and (min-width: 1100px) {

	

  	figure {
	  flex-shrink: 0.5;
	  width: 40%;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: nowrap;
	}

	header {
	  height: 135px;
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	}

}

/* For iPad - Landscape mode and iPad Pro - Portrait mode*/
@media screen and (min-width: 1000px) and (max-width: 1100px){

  	figure {
	  flex-shrink: 0.5;
	  width: 40%;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: nowrap;
	}

	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	}
}

/* For iPad */
@media screen and (min-width: 700px) and (max-width: 1000px){

  	figure {
	  flex-shrink: 0.5;
	  width: 39%;
	  border-radius: 10px;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}

	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	}

	.scrollUp {
	  color: #6d6d6d;
	  cursor: pointer;
	  display: flex;
	  justify-content: flex-end;
	  padding: 0 40px 10px 0;
	  font: normal 15px 'helvetica', "sans-serif";
	}
}

/* For All Mobile - Landscape mode*/
@media screen and (max-width: 745px){

	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  background-color: #02b3e4;
	}

	figure {
	  flex-shrink: 0.5;
	  width: 80%;
	  padding: 5px;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}
}

/* For All Mobile - Portrait Mode*/
@media screen and (max-width: 500px){
	
	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  background-color: #02b3e4;
	}

	figure {
	  flex-shrink: 0;
	  width: 100%;
	  padding: 0;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}
}

body {
  width: 100%;
  margin: 0 auto;
  font: normal 20px/1.5 'helvetica', "sans-serif";
}

p.my-name {
  font: normal 50px/0 'BeautyDemo','helvetica', "sans-serif";
}

.hero-img img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.outerInfo,
.featured-works {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.outerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 100px 0 40px 0;
}

.featured-works {
  padding-top: 20px;
}

hr {
  width: 95%;
}

#contactOuterInfo {
  padding: 5px 0 5px 0;
}

figure img {
  width: 100%;
  margin-bottom: 15px;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.innerInfo {
	width: 90%;
}

.name-title {
	color: #fff;
 	padding: 0 27px;
}

/*
.featured-works h1 {
	text-decoration: underline;
}
*/

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
}

.fa-facebook-square,
.fa-linkedin,
.fa-google-plus-square,
.fa-github-square {	
	color: #02b3e4;
	font-size: 50px;
	padding: 0 20px;
}

.facebook,
.linkedin,
.google,
.github {
	cursor: pointer;
}

.fa-facebook-square:hover,
.fa-linkedin:hover,
.fa-google-plus-square:hover,
.fa-github-square:hover {
	color: #148bb1;
	transition: 0.3s ease;
}

footer {
	color: #fff;
	display: flex;
	justify-content: center;
	height: 40px;
	background-color: #02b3e4;
	align-items: center;
	font: normal 12px 'helvetica', "sans-serif";
}


#navbar {
  overflow: hidden;
  background-color: #02b3e4;
  font-size: 17px;
  z-index: 1;
}

.button {
  font-weight: bold;
  cursor: pointer;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 14px;
  line-height: 0.5;
}

.button:hover {
  color: #000;
  transition: 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

h1 {
	font-size: 30px;
}

.imgDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypic {
	position: absolute;
	transform: translateY(-10px);
	background-image: url("../images/mypic.png");
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 4px solid #fff;
	-webkit-box-shadow: -1px 4px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 9px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 9px 0px rgba(0,0,0,0.75);
}

h6 {
	color: #656565;
}

#logo {
	width: 70px;
	padding: 10px;
}