/*===========STYLES FOR LAZY LOADING==========*/
.fade-in {
	animation-name: fadeIn;
	animation-duration: 1.3s;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.js-lazy-image {
	display: block;
	height: 100%; /* needed because otherwise all images are "rendered" in viewport on page load */

}
/*=========END OF STYLES FOR LAZY LOADING==========*/


img, embed, object, video {
	max-width: 100%;
}

/* Font downloaded from dafont.com */
@font-face {
    font-family: "BeautyDemo";
    src: url("../fonts/BeautyDemo.ttf") format("truetype");
    }

/* For Desktop */
@media screen and (min-width: 1100px) {

	  figure {
	  flex-shrink: 0.5;
	  width: 40%;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: nowrap;
	}

	header {
	  height: 75px;
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	  padding-top: 40px;
	}

}

/* For iPad - Landscape mode and iPad Pro - Portrait mode*/
@media screen and (min-width: 1000px) and (max-width: 1100px){

  	figure {
	  flex-shrink: 0.5;
	  width: 40%;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: nowrap;
	}

	header {
	  height: 75px;
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	  padding-top: 40px;
	}

}

/* For iPad */
@media screen and (min-width: 745px) and (max-width: 1000px){

  	figure {
	  flex-shrink: 0.5;
	  width: 39%;
	  border-radius: 10px;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}

	header {
	  height: 75px;
	  padding-top: 40px;
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
	  text-align: center;
	  background-color: #02b3e4;
	}

	.scrollUp {
	  color: #6d6d6d;
	  cursor: pointer;
	  display: flex;
	  justify-content: flex-end;
	  padding: 0 40px 10px 0;
	  font: normal 15px 'helvetica', "sans-serif";
	}
}

/* For All Mobile - Landscape mode*/
@media screen and (max-width: 745px){

	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  background-color: #02b3e4;
	}

	figure {
	  flex-shrink: 0.5;
	  width: 80%;
	  padding: 5px;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}
}

/* For All Mobile - Portrait Mode*/
@media screen and (max-width: 500px){
	
	header {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  flex-direction: column;
	  text-align: center;
	  background-color: #02b3e4;
	}

	figure {
	  flex-shrink: 0;
	  width: 100%;
	  padding: 0;
	}

	.works {
	  margin-top: -30px;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	}
}

body {
  color: #000;
  width: 100%;
  margin: 0 auto;
  font: normal 20px/1.5 'helvetica', "sans-serif";
}

h1.my-name {
  font: normal 50px/0 'BeautyDemo','helvetica', "sans-serif";
}

.hero-img img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.featured-works {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

hr {
  width: 95%;
}

figure img {
  width: 100%;
  margin-bottom: 15px;
}

.one:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.name-title {
	color:#000;
 	padding: 0 27px;
}

/*
.featured-works h1 {
	text-decoration: underline;
}
*/

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
}

.fa-facebook-square,
.fa-linkedin,
.fa-google-plus-square,
.fa-github-square {	
	color: #02b3e4;
	font-size: 50px;
	padding: 0 20px;
}

.facebook,
.linkedin,
.google,
.github,
.scrollup {
	cursor: pointer;
}

.fa-arrow-circle-up {
	color: #02b3e4;
	font-size: 40px;
	padding: 2px;
}

.fa-facebook-square:hover,
.fa-linkedin:hover,
.fa-google-plus-square:hover,
.fa-github-square:hover {
	color: #59d7f9;
	transition: 0.3s ease;
	font-size: 47px;
}

.fa-arrow-circle-up:hover {
	color: #59d7f9;
	transition: 0.3s ease;
}

footer {
	color: #000;
	display: flex;
	justify-content: center;
	height: 40px;
	background-color: #02b3e4;
	align-items: center;
	font: normal 12px 'helvetica', "sans-serif";
}


#navbar {
  overflow: hidden;
  background-color: #02b3e4;
  font-size: 17px;
  z-index: 1;
}

.button {
  font-weight: bold;
  cursor: pointer;
  float: left;
  color:#000;
  text-align: center;
  padding: 14px 14px;
  line-height: 0.5;
}

.button:hover,
.button:focus {
  color: #fff;
  transition: 0.3s ease;
  text-decoration: underline;
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.imgDiv {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypic {
	position: relative;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	 transform: translateY(-50px);
	background-image: url("../images/mypic.png");
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 4px solid #02b3e4;
}

h6 {
	color: #656565;
}

#logo {
	width: 70px;
	padding: 10px;
}

.aboutMe {
	padding: 0 7px 20px 7px;
}

#contactInfo,
.aboutMe h2,
.aboutMe p {
	text-align: center;
}

#contactInfo {
	padding-top: 20px;
}

.scrollup {
	display: flex;
	justify-content: flex-end;
}

figcaption {
	padding: 10px;
	text-align: left;
}

#map {
	height: 200px;
	width: 80%;
}

#mapWrapper {
	display: flex;
	justify-content: center;
}